body{
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  background-image: url('../images/yosemite.jpg');
  background-size: cover;
  background-position: center center;
}
.docker {
  position: fixed;
  bottom: 0;
  width: 100vw;

  
  text-align: center;
}
.docker:after{
  width: 60%;
  height: 100px;
  position:absolute;
  content: '';
  background-color: red;
  bottom: 0;
  left: 20%;
  z-index: -1;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.7);
  -moz-transform:perspective( 1000px ) rotateX(45deg) translateY(20px);
  -ms-transform:perspective( 1000px ) rotateX(45deg) translateY(20px);
  -o-transform:perspective( 1000px ) rotateX(45deg) translateY(20px);
  -webkit-transform:perspective( 1000px ) rotateX(45deg) translateY(20px);
}
.docker__item {
  
  width: 100px;
  height: 100px;
  display: inline-block;
  transition: all 0.5s;
  margin:0;
  padding: 0;
  border: none;
  outline: 0;
  position: relative;
  background-image: attr(data-icon url);

  margin-right: -4px; /* for remove whitespace betwen inline-block */


}
.docker__item.active{
  width: 200px;
  height: 200px;
}


.docker__item__image--back{
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  

}
.docker__item__image--clone{
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  

}

.docker__item:hover .docker__item__image--clone{
  animation: fadeOutZoom 0.8s;
}

@keyframes fadeOutZoom {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}