<ks-docker>
    <ks-docker-element data-icon="images/speaker.svg"></ks-docker-element>
    <ks-docker-element data-icon="images/biohazard.svg"></ks-docker-element>
    <ks-docker-element data-icon="images/webcam.svg"></ks-docker-element>
    <ks-docker-element data-icon="images/assistant.svg"></ks-docker-element>
  </ks-docker>

  